<!DOCTYPE html>
<html class="">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.settings.seo.description }}">
  <meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
  <meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">

  <title>{{ site.data.settings.title }}</title>

  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/all.css">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  {% include twittercard.html %}
  {% include analytics.html %}
</head>
<body>

<!--{% include header.html %}-->
<header id="header" class="default-header">
   <a href="{{ site.github.url }}/index.html">
       <div class="default-back">{% include icons/icon-back.html %}</div>
   </a>
    <nav>

    </nav>

  <h1><span>{{ site.data.settings.title }}</span></h1>
  <p class="kicker">{{ site.data.settings.description }}</p>

</header>

    <section class="detail-content">

        <strong>{{ page.title }}</strong>

      {{ content }}

  </section>

    <footer id="footer">

      <div class="lockup">

        <div class="content-wrap">
          <nav>
          </nav>

          <p class="copyright">All content copyright {{ site.time | date: '%Y' }}</p>
        </div>

      </div>

    </footer>
  </body>
</html>
